{% extends "base.html" %}

{% block title%}
    <title>Edit task - Taskmate</title>
{%endblock title%}

{% block content%}
    <div class="container">
    </br>

    {%  if task_obj.manager == request.user %}
            <form method="POST" class="row g-3">
                {% csrf_token %}
                <label class="col-2"></label>
                <div class="col-6">
                    <input type="text" class="form-control" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}" >
                    <input type="hidden" name="done"  value="{{ task_obj.done }}" >
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Update Task</button>
                </div>
            </form>
    {% else %}
            <p>Access Restricted, You Are Not Permitted!</p>

    {% endif%}



    </div>
{% endblock content%}